.navigationtab{
	width:120%;
	min-height:4em;
	max-height:4em;
	border:solid;
	margin-top:-10px;
	margin-left:-20px;
	background-color:#093662;
	font-family:ariel, sans-serif;
	padding-left:2em;


}

#xsb{
	margin-top:0;
	height:4em;
	width:4em;
	display:block;
	float:left;

}
.login{
	display:inline-block;
	height:2em;
	width:40em;
	color:white;
	font-family:ariel, sans-serif;
	text-align:right;
	margin-left:7em;
	margin-top:2em;

}
#login{
	background-color:#00CCFF;
	border-radius:5px;
	font-weight:bold;
	color: white;
}
#login:hover{
	cursor:pointer;
}
#signup{
	background-color:#00CCFF;
	border-radius:5px;
	font-weight:bold;
	color: white;
}
#signup:hover{
	cursor:pointer;
}
.dashboard{
	height:10%;
	text-align:center;
	border:solid;
}
.dashboard li{
	border:solid;
	display:inline;
	margin-right:10%;
	margin-left:10%;
}