body{
	background-color:#99B2CC;
	padding-left:10px;
	padding-right:10px;
}

#explore-page{
	margin:5em auto 5em auto;
	padding-left:5em;
	width:1000px;
	height:500px;

}
#search-panel{
	height:25em;
	width:20em;
	border:solid;

	border-color:white;
	border-radius:10px;
	padding-left:0.5em;
	padding-right:1em;
	padding-bottom:3.5em;
	padding-top:0.5em;
	float:left;

	
	

}
#result-panel{
	
	height:25em;
	width:35em;
	border:solid;
	border-color:white;
	border-radius:10px;
	padding-left:0.5em;
	padding-right:1em;
	padding-bottom:4em;
	display:inline-block;


	
}
#search-box{
	/* actual dimension of textbox info */
	height:10%;
	width:75%;
	margin-left:0.5em;
	vertical-align:bottom;
	border-radius:3px #CC6699;
	background-color:#FFFFFF;
	border-radius:5px;
	border:1px solid #d6d6d6;

	/* text info */
	font-size: 16pt;
	font-family: ariel, sans-serif;
}
#add-item{
	height:10%;
	width:20%;
	border-radius:5px;
	background-color:#00CCFF;
	border-radius:5px;
	border:1px solid #d6d6d6;
	/* text info */
	font-size:16pt;
	font-family:ariel, sans-serif;


}
#add-item:hover{
	cursor:pointer;
}
.results{
	position:relative;
	overflow:scroll;
	height:80%;
	width:100%;
	border:solid 1px;
	padding-left:0;
	margin-top:1em;
	
}

.item{
	max-height:20%;
	max-width:100%;
	border:solid 1px;
	list-style:none;
	padding-left:0;
	background-color:#0099CC;
	display:none;

	/* text */
	text-align:center;
	font-size:14pt;
	font-family:ariel, sans-serif;
	font-weight:bold;
	padding:5%;

}
.item:hover{
	cursor:pointer;
}

.nav{
	height:5%;
	width:100%;
	padding-top:3.5%;
	padding-bottom:3%;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	display:inline-block;
}

.nav li{
	height:10%;
	width:100%;
	padding: 10px 15px;
 	border: 1px solid white;
 	border-radius:5px;
 	background-color:#00CCFF;

 	margin-top:5px;
	margin-left:0;
	list-style:none;
	display:inline;
}

.nav a{
	text-decoration:none;
	height:100%;
	width:100%;
	font-size: 12pt;
	font-family: ariel, sans-serif;
	color:white;
}
.active{
	background-color:#0099CC !important;
}
.highlight{
	background-color:#00CCFF;
}
#cage-result{
	padding:0;
}

#cage-result li{
	list-style:none;
	cursor:pointer;
	padding-left:5%;

}
#cage-result span{
	display:inline-block;
	height:1px;
	float:right;
	margin-right:5%;
	/*
	margin-bottom:20%;
	text-align:right;
	padding-bottom:5%;
	*/

}
#cage-result h4{
	display:inline;
}
#cage-result .cageinfo{
	margin:5px 0;
	display:none;
	
}