body{
	background-color:#99B2CC;
	font-family:ariel, sans-serif;
}


#navigation-intro{
	top:5em;
	width:30em;
	height:30em;
	border:solid;
	border-radius:5px;
	margin:5em auto 5em auto;
	overflow:hidden;
	padding:0;
	overflow:hidden;

}
#navigation-intro ul{
	margin-top:-5px;
	height:20%;
	width:100%;

	padding-left:0.3em;
	overflow:hidden;

}
#navigation-intro li{
	display:inline-block;
	height:100%;
	width:33%;
	border-right:solid white;
	margin-left:-5px;
	text-align:center;
	background-color:#093662;
	overflow:hidden;
}
#navigation-intro a{
	position:absolute;
	height:4.8em;
	width:9.9em;
	margin-top:0.2em;
	margin-left:-5em;
	margin-bottom:-2em;
	text-decoration:none;
	color:white;
	padding-top:1em;
}

.text{
	position:absolute;
	display:none;
}
.choicetab{
	background-color: #6B86A1;
}
.text{
	padding-left:0.5em;
}
.text p{
	height:20em;
	width:29em;
	position:absolute;
}
/*
#navigation-intro li a{
	display:block;
	border:solid white;
	width:95%;
	height:95%;
	position:absolute;
	text-decoration:none;
	color:white;
	text-align:center;

}
*/