body{
	background-color:#99B2CC;
}

fieldset{
	float:left;
	margin-top:20%;
	padding:5%;
	border:solid;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	font-weight:bold;
	color: white;
	width:300px;
	height:400px;

}

.title{
	float:left;
	text-align:left;
	padding-right:1em;
	display:block;
	width:50%;
}

input[type="text"]{
	display:block;
	border-radius:5px;
	height:5%;
	border:1px solid #d6d6d6;
}



#submit_block{
	padding-top:15%;
	text-align:center;
}

#submit{
	background-color:#00CCFF;
	height:8%;
	width:50%;
	border-radius:5px;
	border:1px solid #d6d6d6;
	font-size:1em;
	font-weight:bold;
	color: white;
}

#submit:hover{
	background-color:#0099CC;
	cursor:pointer;
}

